<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>File1</key>
	<string>Test.txt</string>
	<key>File2</key>
	<string>Test2.txt</string>
	<key>File3</key>
	<string>Test3.txt</string>
</dict>
</plist>
